.footerSection {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.bottomLine {
    border: none;
    border-top: 1px solid rgb(1, 160, 209);
}

.mediaIcons {
    display: flex;
    gap: 40px;
    padding: 0px;
    padding-top: min(0.6rem, 1.3%);
    padding-bottom: min(0.5rem, 1%);
    padding-left: 40px;
    width: 240px;
    overflow: hidden;
}

.iconArray1, .iconArray2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 240px;
    animation: moveLeft 15s infinite linear;
}

.icon {
    color: rgb(1, 160, 209);
    width: 30px;
    height: 30px;
}

@keyframes moveLeft {
    0% {
      transform: translateX(0);
    }

    100% {
        transform: translateX(-280px);
    }
}