body {
  background: linear-gradient(black, gray, gray);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
  color: rgb(255, 255, 255);
}

img {
  border: 15px solid #000000;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.arrows {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.arrowLeft, .arrowRight {
  border-radius: 50%;
}

.arrowLeft.loaded, .arrowRight.loaded {
  position: relative;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  transition: 0.4s ease;
  cursor: pointer;
}

.arrowLeft:hover, .arrowRight:hover {
  box-shadow: 0px 0px 7px 7px hsl(0, 0%, 23%);
}

.arrowLeft div {
  box-sizing: border-box;
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 5px solid rgb(0, 0, 0);
  border-left: 5px solid rgb(0, 0, 0);
  transform: rotate(-45deg);
  top: 12.5px;
  left: 16px;
}

.arrowRight div {
  box-sizing: border-box;
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 5px solid rgb(0, 0, 0);
  border-left: 5px solid rgb(0, 0, 0);
  transform: rotate(135deg);
  top: 12.5px;
  right: 16px;
}

.arrowLeft div.clicked {
  border-top: 5px solid rgb(145, 145, 145);
  border-left: 5px solid rgb(145, 145, 145);
  left: 13px;
}

.arrowRight div.clicked {
  border-top: 5px solid rgb(145, 145, 145);
  border-left: 5px solid rgb(145, 145, 145);
  right: 13px;
}

.pageTracker {
  align-self: center;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  transition: 0.2s ease;
}

.pageTracker.current {
  width: 27px;
  height: 27px;
  background: rgb(68, 68, 68);
}

.videoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  padding-top: 28.125%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.nextVideo, .previousVideo, .currentVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.currentVideo.sliding {
  animation: slide 1s ease-in forwards;
}

.nextVideo.sliding {
  animation: slide 1s ease-in forwards;
}

.currentVideo.slidingRight {
  animation: slideRight 1s ease-in forwards;
}

.nextVideo.slidingRight {
  animation: slideRight 1s ease-in forwards;
}


.gifButton {
  background: black;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 50%;
  width: 10%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 80%;
  letter-spacing: 2px;
  cursor: pointer;
}

.gifButton.playing {
  display: none;
}

