body {
  background-image: linear-gradient(rgb(15, 15, 15), rgb(58, 34, 34), rgb(15, 15, 15));
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.App {

}

.contentContainer {
  background-image: linear-gradient(rgb(15, 15, 15), rgb(41, 23, 23), rgb(15, 15, 15));
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 20px;
  padding: 2% 5%;
  padding-bottom: 0.7%;
}

.videoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border: #091827 0px solid;
  border-radius: 20px;
}

.nextVideo, .previousVideo, .currentVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.currentVideo.slideLeft {
  animation: slideLeft 0.7s  ease-out forwards;
}

.nextVideo.slideLeft {
  animation: slideLeft 0.7s  ease-out forwards;
}

.currentVideo.slideRight {
  animation: slideRight 0.7s  ease-out forwards;
}

.nextVideo.slideRight {
  animation: slideRight 0.7s  ease-out forwards;
}

.arrows {
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 10px;
}

.arrowLeft, .arrowRight {
  border-radius: 50%;
}

.arrowLeft.loaded, .arrowRight.loaded {
  position: relative;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  transition: 0.4s ease;
  cursor: pointer;
  margin-bottom: 0;
}

.arrowLeft:hover, .arrowRight:hover {
  box-shadow: 0px 0px 7px 7px hsl(0, 0%, 23%);
}

.arrowLeft div {
  box-sizing: border-box;
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 5px solid rgb(0, 0, 0);
  border-left: 5px solid rgb(0, 0, 0);
  transform: rotate(-45deg);
  top: 12.5px;
  left: 16px;
}

.arrowRight div {
  box-sizing: border-box;
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 5px solid rgb(0, 0, 0);
  border-left: 5px solid rgb(0, 0, 0);
  transform: rotate(135deg);
  top: 12.5px;
  right: 16px;
}

.arrowLeft div.clicked {
  border-top: 5px solid rgb(145, 145, 145);
  border-left: 5px solid rgb(145, 145, 145);
  left: 13px;
}

.arrowRight div.clicked {
  border-top: 5px solid rgb(145, 145, 145);
  border-left: 5px solid rgb(145, 145, 145);
  right: 13px;
}

.pageTracker {
  align-self: center;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  transition: 0.2s ease;
}

.pageTracker.current {
  width: 28px;
  height: 28px;
  background: rgb(148, 29, 29);
}

.gifButton {
  background: black;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 50%;
  width: 7vw;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 85%;
  letter-spacing: 2px;
  cursor: pointer;
}

.gifButton.playing {
  display: none;
}

.playButton {
  border: calc(0.35 * 7vw) solid transparent; /* 30% of gifButton's width */
  border-radius: 5px;
  border-left-color: rgb(251, 251, 251);
  width: 0px;
  height: 3px;
  transform: scaleY(0.7) translateX(33%);
}
