@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  background: radial-gradient(circle at 50% 65%, #0b1316, #050505);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px 10px rgba(0, 195, 255, 0.8);

    margin: 0;
    padding: 0;

}

.App {

}

.contentContainer {
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 2% 5%;
  padding-bottom: 0.7%;
}

.videoContainer {
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border: rgb(0, 195, 255) 3px solid;
  box-shadow: 0 0 20px rgb(0, 195, 255);
}

.nextVideo, .previousVideo, .currentVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  /* transition: 0.7s; */
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.currentVideo.slideLeft {
  animation: slideLeft 0.7s  ease-out forwards;
}

.nextVideo.slideLeft {
  animation: slideLeft 0.7s  ease-out forwards;
}

.currentVideo.slideRight {
  animation: slideRight 0.7s  ease-out forwards;
}

.nextVideo.slideRight {
  animation: slideRight 0.7s  ease-out forwards;
}

.arrows {
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 10px;
}

.pageTracker {
  align-self: center;
  background: white;
  width: 50px;
  height: 10px;
  border-radius: 3px;
  margin: 8px;
  transition: 0.2s ease;
}

.pageTracker.current {
  transform: scaley(1.3);
  box-shadow: 0px 0px 10px rgba(0, 195, 255, 0.8);
  background:rgb(0, 195, 255);
}

.gifButton {
  background: rgb(4, 29, 46);
  font-size: 2.0vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% ) scale(2.8);
  z-index: 3;
  opacity: 95%;
  cursor: pointer;
  animation: fadeIn 0.2s  ease-in forwards;
}

.play {
  color:rgb(0, 167, 218);
  filter: drop-shadow(0px 0px 3px rgba(0, 156, 204, 0.8));
  transform: scale(1.1);
}

.gifButton.playing {
  animation: fadeOut 0.7s  ease-out forwards;
}

@keyframes fadeOut {
  0% {
    
  }

  100% {
    transform: translate(-50%, -50% ) scale(3);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    transform: translate(-50%, -50% ) scale(2.6);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50% ) scale(2.8);
    opacity: 1;
  }
}

.gifButton:hover {

}

.aIcon, .bIcon {
  width: 60px;
  height: 90px;
  color:rgb(0, 195, 255);
  filter: drop-shadow(0px 0px 10px rgba(0, 195, 255, 0.8));
  transform: rotateX(45deg) scale(1.5);
  cursor: pointer;
  transition: 0.1s linear;
}

.bIcon {
  transform: rotateX(45deg) rotateZ(180deg) scale(1.5);
}

.bIcon:hover {
  transform: rotateX(45deg) rotateZ(180deg) scale(1.6);
}

.aIcon:hover {
  transform: rotateX(45deg) scale(1.6);
}

.aIcon.clicked {
  transform: rotateX(50deg) scale(1.6) translateX(-5px);
}

.bIcon.clicked {
  transform: rotateX(50deg) rotateZ(180deg) scale(1.6) translateX(-5px);
}
