
.navSection {
  background: transparent;
  box-sizing: border-box;
 
}

.sectionsLinks {
  font-size: 2rem;
  display: flex;
  justify-self: end;
  gap: 40px;
  text-decoration: none;
  padding: 0px 20px;
}

@media (max-width: 1920px) {
  .sectionsLinks {
    font-size: 1.6rem;
    gap: 25px;
  }
}

@media (max-width: 600px) {
  .sectionsLinks {
    font-size: 0.7rem;
    gap: 10px;
  }
}

.sectionsLinks a {
  text-decoration: none;
  color: rgb(0, 195, 255);
  animation: neonGlow 20s infinite alternate;
}

.sectionsLinks a:hover {
  color: #ff7b00;
}

@keyframes neonGlow {
  0% { text-shadow: 0 0 5px #0ff; }
  50% { text-shadow: 0 0 15px #0ff, 0 0 30px #00f; }
  100% { text-shadow: 0 0 5px #0ff; }
}

.topLine {
  border: none;
  border-bottom: 1px solid rgb(1, 160, 209);
  margin-top: 20px;
}