.App {
  text-align: center;
}

.container {
  background: radial-gradient(circle at 50% 65%, #1c3138, #050505);
  max-width: 1400px;
  height: 100vh;
  margin: 0px auto 0px;
  padding: 0px; /* Increased top padding */
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


